## SALARY REGRESSION

In [ ]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder  
import pickle

In [3]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
# data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [11]:
onehot_encoder_geo = OneHotEncoder()
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']])

In [12]:
geo_encoded_df = pd.DataFrame(geo_encoded.toarray(), columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [13]:
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)

In [14]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [15]:
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [18]:
with open('label_encoder_gender.pickle', 'wb') as file:
    pickle.dump(label_encoder_gender, file)
with open('onehot_encoder_geo.pickle', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)
with open('scaler.pickle', 'wb') as file:
    pickle.dump(scaler, file)

In [19]:
## ANN Training with regression 

from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense

In [20]:
model = Sequential()
model.add(Dense(units=64, activation='relu', input_shape=(X_train.shape[1],))) ## hidden layer 1
model.add(Dense(units=32, activation='relu'))         ## hidden layer 2
model.add(Dense(units=1))       ## output layer isliye 1 unit and sigmoid activation fn

WARNING:tensorflow:From c:\Users\hp\Dl_Basics\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [21]:
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])
model.summary()

WARNING:tensorflow:From c:\Users\hp\Dl_Basics\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
import datetime
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import tensorflow as tf

log_dir = "regressionLogs/fit" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=log_dir, histogram_freq=1)

In [24]:
early_stop = EarlyStopping(monitor='val_loss',patience=10, restore_best_weights=True)

In [25]:
history = model.fit(
    X_train, y_train, validation_data=(X_test, y_test),
    epochs=100,
    batch_size=32,
    callbacks=[early_stop, tensorboard_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\hp\Dl_Basics\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\hp\Dl_Basics\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 6s 11ms/step - loss: 100348.4531 - mae: 100348.4531 - val_loss: 98412.9297 - val_mae: 98412.9297
Epoch 2/100
250/250 [==============================] - 2s 7ms/step - loss: 99265.0312 - mae: 99265.0312 - val_loss: 96252.7734 - val_mae: 96252.7734
Epoch 3/100
250/250 [==============================] - 2s 7ms/step - loss: 95546.9609 - mae: 95546.9609 - val_loss: 90878.3906 - val_mae: 90878.3906
Epoch 4/100
250/250 [==============================] - 3s 10ms/step - loss: 88465.4297 - mae: 88465.4297 - val_loss: 82355.4453 - val_mae: 82355.4453
Epoch 5/100
250/250 [==============================] - 4s 14ms/step - loss: 78865.6172 - mae: 78865.6172 - val_loss: 72417.5547 - val_mae: 72417.5547
Epoch 6/100
250/250 [==============================] - 3s 10ms/step - loss: 68737.5625 - mae: 68737.5625 - val_loss: 63282.7812 - val_mae: 63282.7812
Epoch 7/100
250/250 [==============================] - 2s 10ms/step - loss: 60306.3086 - mae: 60306.3086 - val_loss: 56640.5742 - val_mae: 56640.5742
Epoch 8/100
250/250 [==============================] - 3s 10ms/step - loss: 54738.5156 - mae: 54738.5156 - val_loss: 52970.0000 - val_mae: 52970.0000
Epoch 9/100
250/250 [==============================] - 3s 12ms/step - loss: 51923.1562 - mae: 51923.1562 - val_loss: 51426.7148 - val_mae: 51426.7148
Epoch 10/100
250/250 [==============================] - 3s 10ms/step - loss: 50752.4297 - mae: 50752.4297 - val_loss: 50967.0469 - val_mae: 50967.0469
Epoch 11/100
250/250 [==============================] - 2s 10ms/step - loss: 50349.3438 - mae: 50349.3438 - val_loss: 50835.6133 - val_mae: 50835.6133
Epoch 12/100
250/250 [==============================] - 2s 10ms/step - loss: 50188.5000 - mae: 50188.5000 - val_loss: 50775.5352 - val_mae: 50775.5352
Epoch 13/100
250/250 [==============================] - 3s 10ms/step - loss: 50097.5117 - mae: 50097.5117 - val_loss: 50730.2148 - val_mae: 50730.2148
Epoch 14/100
250/250 [==============================] - 3s 11ms/step - loss: 50036.0430 - mae: 50036.0430 - val_loss: 50681.0781 - val_mae: 50681.0781
Epoch 15/100
250/250 [==============================] - 3s 13ms/step - loss: 49987.2188 - mae: 49987.2188 - val_loss: 50648.7656 - val_mae: 50648.7656
Epoch 16/100
250/250 [==============================] - 4s 16ms/step - loss: 49940.4844 - mae: 49940.4844 - val_loss: 50620.8984 - val_mae: 50620.8984
Epoch 17/100
250/250 [==============================] - 3s 13ms/step - loss: 49901.0234 - mae: 49901.0234 - val_loss: 50583.2461 - val_mae: 50583.2461
Epoch 18/100
250/250 [==============================] - 3s 10ms/step - loss: 49871.4414 - mae: 49871.4414 - val_loss: 50562.0625 - val_mae: 50562.0625
Epoch 19/100
250/250 [==============================] - 3s 10ms/step - loss: 49840.0469 - mae: 49840.0469 - val_loss: 50546.9766 - val_mae: 50546.9766
Epoch 20/100
250/250 [==============================] - 3s 10ms/step - loss: 49816.4570 - mae: 49816.4570 - val_loss: 50523.8711 - val_mae: 50523.8711
Epoch 21/100
250/250 [==============================] - 2s 9ms/step - loss: 49790.7539 - mae: 49790.7539 - val_loss: 50507.1836 - val_mae: 50507.1836
Epoch 22/100
250/250 [==============================] - 3s 10ms/step - loss: 49768.4414 - mae: 49768.4414 - val_loss: 50491.0977 - val_mae: 50491.0977
Epoch 23/100
250/250 [==============================] - 3s 12ms/step - loss: 49744.2109 - mae: 49744.2109 - val_loss: 50474.9102 - val_mae: 50474.9102
Epoch 24/100
250/250 [==============================] - 3s 11ms/step - loss: 49723.3125 - mae: 49723.3125 - val_loss: 50461.7109 - val_mae: 50461.7109
Epoch 25/100
250/250 [==============================] - 2s 8ms/step - loss: 49709.3594 - mae: 49709.3594 - val_loss: 50441.7148 - val_mae: 50441.7148
Epoch 26/100
250/250 [==============================] - 2s 9ms/step - loss: 49687.9570 - mae: 49687.9570 - val_loss: 50435.9531 - val_mae: 50435.9531
Epoch 27/100
250/250 [==============================] - 2s 9ms/step - loss: 49667.4844 - mae: 49667.4844 - val_loss: 50424.1836 - val_mae: 50424.1836
Epoch 28/100
250/250 [==============================] - 2s 6ms/step - loss: 49652.8398 - mae: 49652.8398 - val_loss: 50414.7773 - val_mae: 50414.7773
Epoch 29/100
250/250 [==============================] - 2s 7ms/step - loss: 49637.8359 - mae: 49637.8359 - val_loss: 50406.5859 - val_mae: 50406.5859
Epoch 30/100
250/250 [==============================] - 2s 6ms/step - loss: 49621.6914 - mae: 49621.6914 - val_loss: 50407.2031 - val_mae: 50407.2031
Epoch 31/100
250/250 [==============================] - 2s 6ms/step - loss: 49611.5859 - mae: 49611.5859 - val_loss: 50403.6914 - val_mae: 50403.6914
Epoch 32/100
250/250 [==============================] - 2s 7ms/step - loss: 49598.3320 - mae: 49598.3320 - val_loss: 50393.5430 - val_mae: 50393.5430
Epoch 33/100
250/250 [==============================] - 2s 7ms/step - loss: 49592.7031 - mae: 49592.7031 - val_loss: 50391.1211 - val_mae: 50391.1211
Epoch 34/100
250/250 [==============================] - 2s 9ms/step - loss: 49575.8398 - mae: 49575.8398 - val_loss: 50387.0391 - val_mae: 50387.0391
Epoch 35/100
250/250 [==============================] - 2s 8ms/step - loss: 49563.9609 - mae: 49563.9609 - val_loss: 50379.7461 - val_mae: 50379.7461
Epoch 36/100
250/250 [==============================] - 3s 14ms/step - loss: 49555.2461 - mae: 49555.2461 - val_loss: 50371.6680 - val_mae: 50371.6680
Epoch 37/100
250/250 [==============================] - 3s 13ms/step - loss: 49550.7305 - mae: 49550.7305 - val_loss: 50353.1758 - val_mae: 50353.1758
Epoch 38/100
250/250 [==============================] - 4s 14ms/step - loss: 49536.3047 - mae: 49536.3047 - val_loss: 50363.6484 - val_mae: 50363.6484
Epoch 39/100
250/250 [==============================] - 3s 10ms/step - loss: 49526.5586 - mae: 49526.5586 - val_loss: 50358.5117 - val_mae: 50358.5117
Epoch 40/100
250/250 [==============================] - 2s 8ms/step - loss: 49520.0977 - mae: 49520.0977 - val_loss: 50357.0156 - val_mae: 50357.0156
Epoch 41/100
250/250 [==============================] - 2s 9ms/step - loss: 49512.0312 - mae: 49512.0312 - val_loss: 50352.3789 - val_mae: 50352.3789
Epoch 42/100
250/250 [==============================] - 2s 9ms/step - loss: 49502.4961 - mae: 49502.4961 - val_loss: 50356.5430 - val_mae: 50356.5430
Epoch 43/100
250/250 [==============================] - 2s 8ms/step - loss: 49495.6836 - mae: 49495.6836 - val_loss: 50349.6133 - val_mae: 50349.6133
Epoch 44/100
250/250 [==============================] - 2s 10ms/step - loss: 49489.2109 - mae: 49489.2109 - val_loss: 50358.2305 - val_mae: 50358.2305
Epoch 45/100
250/250 [==============================] - 2s 10ms/step - loss: 49482.1562 - mae: 49482.1562 - val_loss: 50347.6133 - val_mae: 50347.6133
Epoch 46/100
250/250 [==============================] - 2s 6ms/step - loss: 49474.4375 - mae: 49474.4375 - val_loss: 50343.1172 - val_mae: 50343.1172
Epoch 47/100
250/250 [==============================] - 1s 6ms/step - loss: 49468.1523 - mae: 49468.1523 - val_loss: 50344.9570 - val_mae: 50344.9570
Epoch 48/100
250/250 [==============================] - 2s 6ms/step - loss: 49460.8320 - mae: 49460.8320 - val_loss: 50357.9492 - val_mae: 50357.9492
Epoch 49/100
250/250 [==============================] - 2s 7ms/step - loss: 49454.0703 - mae: 49454.0703 - val_loss: 50354.1172 - val_mae: 50354.1172
Epoch 50/100
250/250 [==============================] - 2s 8ms/step - loss: 49448.8359 - mae: 49448.8359 - val_loss: 50345.9844 - val_mae: 50345.9844
Epoch 51/100
250/250 [==============================] - 2s 9ms/step - loss: 49443.3984 - mae: 49443.3984 - val_loss: 50341.6406 - val_mae: 50341.6406
Epoch 52/100
250/250 [==============================] - 2s 7ms/step - loss: 49437.3359 - mae: 49437.3359 - val_loss: 50348.9688 - val_mae: 50348.9688
Epoch 53/100
250/250 [==============================] - 2s 7ms/step - loss: 49431.9844 - mae: 49431.9844 - val_loss: 50343.9766 - val_mae: 50343.9766
Epoch 54/100
250/250 [==============================] - 2s 8ms/step - loss: 49425.5039 - mae: 49425.5039 - val_loss: 50350.0195 - val_mae: 50350.0195
Epoch 55/100
250/250 [==============================] - 2s 8ms/step - loss: 49421.3828 - mae: 49421.3828 - val_loss: 50352.0547 - val_mae: 50352.0547
Epoch 56/100
250/250 [==============================] - 2s 6ms/step - loss: 49415.0703 - mae: 49415.0703 - val_loss: 50347.7227 - val_mae: 50347.7227
Epoch 57/100
250/250 [==============================] - 2s 7ms/step - loss: 49408.1328 - mae: 49408.1328 - val_loss: 50357.2695 - val_mae: 50357.2695
Epoch 58/100
250/250 [==============================] - 2s 6ms/step - loss: 49406.4453 - mae: 49406.4453 - val_loss: 50357.3359 - val_mae: 50357.3359
Epoch 59/100
250/250 [==============================] - 2s 7ms/step - loss: 49400.3516 - mae: 49400.3516 - val_loss: 50345.1367 - val_mae: 50345.1367
Epoch 60/100
250/250 [==============================] - 2s 9ms/step - loss: 49398.7188 - mae: 49398.7188 - val_loss: 50351.8125 - val_mae: 50351.8125
Epoch 61/100
250/250 [==============================] - 2s 9ms/step - loss: 49389.8633 - mae: 49389.8633 - val_loss: 50361.0469 - val_mae: 50361.0469

In [26]:
%load_ext tensorboard

In [29]:
%tensorboard --logdir regressionLogs/fit20260113-213615/

Reusing TensorBoard on port 6006 (pid 15448), started 0:00:55 ago. (Use '!kill 15448' to kill it.)

In [30]:
test_loss, test_mae = model.evaluate(X_test,y_test)
print(f'MAE: {test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50341.6406 - mae: 50341.6406
MAE: 50341.640625

In [32]:
model.save('regression.h5')

c:\Users\hp\Dl_Basics\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(